html {
  scroll-behavior: smooth;
}
@keyframes slideInFromLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-left {
  animation: slideInFromLeft 1s ease-out forwards;
}

.hover {
  animation: turn 2.5s ease infinite;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7);
}

h1 {
  text-align: center;
}

form input,
form textarea,
form button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  outline: none;
}

.button-butt {
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

@keyframes turn {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}

/* Typewriter blinking cursor */
#typewriter-heading::after {
  content: '|';
  animation: blink 0.75s ease-in-out;
  opacity: 1;
  font-weight: bold;
  color: cyan; /* Adjust to match your design */
  font-size: inherit;
  margin-left: 2px;
}

/* Class to hide the blinking cursor */
.hideBlink::after {
  content: none !important; /* Remove the blinking cursor */
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

/* 2 */
#typeText::after {
  content: '|';
  animation: blink 0.75s ease-in-out;
  opacity: 1;
  font-weight: bold;
  color: cornflowerblue; /* Adjust to match your design */
  font-size: inherit;
  margin-left: 2px;
}

/* Class to hide the blinking cursor */
.BlinkHidden::after {
  content: none !important; /* Remove the blinking cursor */
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
